# IntelliJ - https://intellij-support.jetbrains.com/hc/en-us/articles/206827587-How-to-manage-projects-under-Version-Control-Systems
.idea/workspace.xml
.idea/tasks.xml
.idea/encodings.xml
.idea/libraries
.idea/codeStyleSettings.xml
*.iml

.DS_store

# Node
node_modules
build
dist
npm-debug.log